<launch>
    <param name="robot_description"
    command="$(find xacro)/xacro $(find swarm_nav_inter_iit)/turtlebot3/turtlebot3_description/urdf/turtlebot3_burger.urdf.xacro"/>

    <group ns="robot1">
        <param name="tf_prefix" value="robot1"/>
        <include file="$(find swarm_nav_inter_iit)/launch/single.launch" >
            <arg name="init_pose" value="-x 6 -y -1 -z 0" />
            <arg name="model" value="burger" />
            <arg name="multi_robot_name" value="robot1" />
        </include>
    </group>


    <group ns="robot2">
        <param name="tf_prefix" value="robot2"/>
        <include file="$(find swarm_nav_inter_iit)/launch/single.launch" >
            <arg name="init_pose" value="-x 5 -y 1 -z 0" />
            <arg name="model" value="burger" />
            <arg name="multi_robot_name" value="robot2" />
        </include>
    </group>


    <group ns="robot3">
        <param name="tf_prefix" value="robot3"/>
        <include file="$(find swarm_nav_inter_iit)/launch/single.launch" >
            <arg name="init_pose" value="-x -2 -y 1 -z 0" />
            <arg name="model" value="burger" />
            <arg name="multi_robot_name" value="robot3" />
        </include>
    </group>


    <group ns="robot4">
        <param name="tf_prefix" value="robot4"/>
        <include file="$(find swarm_nav_inter_iit)/launch/single.launch" >
            <arg name="init_pose" value="-x -7 -y -1 -z 0" />
            <arg name="model" value="burger" />
            <arg name="multi_robot_name" value="robot4" />
        </include>
    </group>


</launch>
